services:
  backend:
    build: ./backend
    container_name: mpesa_backend
    restart: always
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

  frontend:
    build: .
    container_name: mpesa_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend